.card__item {
  margin-top: 1em;
  position: relative;
  width: 350px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  border-radius: 15px;
  padding: 10px;
  transform: scale(0, 0);
}

.card__item__enter {
  transform: scale(1, 1);
  transition: 0.5s ease;
}

.card__question {
  height: 33%;
  margin-top: 25px;
  font-size: 14pt;
  font-weight: bold;
  text-align: center;
}

.card__reveal-button {
  background-color: var(--dark-color);
  color: var(--secondary-color);
  margin-top: 15px;
  border: solid 2px var(--secondary-color);
  border-radius: 5px;
  padding: 5px 10px;
  font-family: "Open Sans";
  font-size: 11pt;
  transition: 0.2s cubic-bezier(0.86, 0, 0.07, 1);
}

.card__reveal-button:active {
  transform: scale(0.9);
}

.card__answer {
  margin-top: 10px;
  font-size: 10pt;
  padding: 10px;
  height: 1em;
}

.card__tag-list {
  height: 33%;
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 5px;
  list-style: none;
}

.card__bookmark-button {
  position: absolute;
  top: -5px;
  right: 20px;
  background-color: transparent;
  border: 0;
}

.card__bookmark-icon {
  height: 35px;
}

/* .card__bookmark-icon--active {
  content: url("./img/bookmarked.svg");
} */
