.footer {
  height: 50px;
  width: 100%;
  background-color: var(--dark-color);
  position: fixed;
  bottom: 0;
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
