.footer {
  height: 50px;
  width: 100%;
  background-color: var(--dark-color);
  position: fixed;
  bottom: 0;
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.navigation__button {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s linear;
}

.navigation__button--active,
.navigation__button:hover {
  background-color: var(--darker-color);
}
