header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--dark-color);
  color: var(--secondary-color);
}

header h1 {
  font-size: 18pt;
}
